body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#logo{
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#logo img{
    margin-right: 10px;
}

header{
    text-align: center;
    background-color: #008060;
    color: #ffffff;
}

header h1, header h2{
    margin: 10px 0;
}

header h1{
    font-size: 50px;
    margin-bottom: 25px;
}

header h2{
    font-size: 25px;
    font-weight: 300;
}

#photo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.box_container{
    display: flex;
    padding: 40px 200px;
    justify-content: space-between;
}

.box_container .textbox{
    color: #666666;
    width: 30%;
    text-align: justify;
    margin-bottom: 50px;
}

.picture{
    display: flex;
    justify-content: flex-start;
}

.logotype_container{
    padding-left: 200px;
    padding-right: 200px;
}

.logotype{
    display: flex;
    justify-content: space-between;
}

.logotype img{
    height: 100px;
    opacity: 0.5;
}

.line{
    border-bottom: 1px #666464 solid;
}

.quote{
    text-align: center;
    color: black;
    margin-top: 90px;
    font-size: 25px;
}

.button_section{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

#email{
    background-color: white;
    font-size: 25px;
    color: #666666;
    padding: 15px;
    border-style: solid;
    border-color: #666666;
    border-radius: 7px;
    margin-right: 15px;
}

.first_button{
    background-color: #033629;
    font-size: 25px;
    color: white;
    padding: 15px;
    cursor: pointer;
    border-style: solid;
    border-color: #008060;
    border-radius: 7px;
}

.first_button:hover{
    background-color: #021812;
}

.second_button{
    background-color: #008060;
    font-size: 25px;;
    color: white;
    padding: 15px;
    cursor: pointer;
    border-style: solid;
    border-color: #008060;
    border-radius: 7px;
}

.second_button:hover{
    background-color: #05a17a;
}

footer{
    font-size: 15px;
    color: #008060;
    cursor: pointer;
    text-align: right;
    font-size: 15px;
    margin-right: 150px;
    padding-bottom: 30px;
}

.footer_link{
    text-decoration: none;
    color: #008060;
    margin-left: 20px;
}
