body{
    background-color: pink;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

#logo{
    font-size: 45px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

#logo img{
    margin-right: 10px;
}

header{
    text-align: center;
}

header h1, header h4{
    margin: 10px 0;
}

#photo{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.box_container{
    padding: 3px;
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    color: black;
}

.box_container .textbox{
    color: #666666;
    width: 30%;
    text-align: justify;
    margin-bottom: 90px;
}

.picture{
    display: flex;
    justify-content: flex-start;
}

h4{
    color: black;
}

.logotype{
    display: flex;
    justify-content: space-between;
}

.logotype img{
    height: 100px;
    opacity: 0.5;
}

.line{
    border-bottom: 1px #666464 solid;
}

.quote{
    text-align: center;
    color: black;
    margin-top: 90px;
    font-size: 25px;
}